.OrdersButtonBar{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: white;
    box-shadow: 4px 4px 4px #adb0ac;
    height: 50px;
    line-height: 50px;
    margin: 0.8rem auto;
    border-radius: 0.8rem;
    text-align: center;
}

.OrdersButtons{
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin: 5px;
    width: 150px;
    background-color: #4f813f;
}

.OrdersButtons:hover{
    background-color: #3a5f2e;
}

.OrdersButtons:active{
    background-color: #1f3419;
}

.OutstandingOrderBoxes{
    background-color: white;
    list-style: none;
    display: inline-block;
    max-width: 250px;
    max-height: 200px;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
}