.OrdersButtonBar{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: white;
    box-shadow: 4px 4px 4px #adb0ac;
    height: 50px;
    line-height: 50px;
    margin: 0.8rem auto;
    border-radius: 0.8rem;
    text-align: center;
}

.OrdersButtons{
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin: 5px;
    width: 150px;
    background-color: #4f813f;
    cursor: pointer;
}

.OrdersButtons:hover{
    background-color: #3a5f2e;
}

.OrdersButtons:active{
    background-color: #1f3419;
}

.ViewOrdersSection{
    margin: 0;
}

.OutstandingOrderUL{
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    transform: translate(-10px);
}

.OutstandingOrderBoxes{
    background-color: white;
    list-style: none;
    min-width: 250px;
    max-width: 250px;
    max-height: 200px;
    overflow: auto;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    
}

.OutstandingOrderBoxes::-webkit-scrollbar {
    width: 8px; /* Adjust scrollbar width */
    border-radius: 5px;
  }
  
.OutstandingOrderBoxes::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px; /* Rounds the track */
}
  
.OutstandingOrderBoxes::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px; /* Rounds the thumb */
}
  
.OutstandingOrderBoxes::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.OrdersMarkReadyBox{
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    max-width: 250px;
    max-height: 50px;
    background-color: rgb(116, 108, 108);
    border-radius: 5px;
    transform: translate(10px, -10px);
}

.OrdersMarkReadyBox div{
    padding-right: 10px;
    padding-top: 2px
}

.OrdersMarkReadyBox input{
    height: 15px;
    width: 15px;
}

.OrdersMarkReadyBoxReadied{
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    max-width: 250px;
    max-height: 50px;
    background-color: rgb(24, 112, 53);
    border-radius: 5px;
    transform: translate(10px, -10px);
}

.OrdersMarkReadyBoxReadied div{
    padding-right: 10px;
    padding-top: 2px
}

.OrdersMarkReadyBoxReadied input{
    height: 15px;
    width: 15px;
}

.OrdersPickedUp{
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    max-width: 250px;
    max-height: 50px;
    background-color: rgb(24, 112, 53);
    border-radius: 5px;
    transform: translate(10px, -10px);
}

.OrdersPickedUp div{
    padding-right: 10px;
    padding-top: 2px
}

.OrdersPickedUp input{
    height: 15px;
    width: 15px;
}

.OrdersNotPickedUp{
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    max-width: 250px;
    max-height: 50px;
    background-color: rgb(116, 108, 108);
    border-radius: 5px;
    transform: translate(10px, -10px);
}

.OrdersNotPickedUp div{
    padding-right: 10px;
    padding-top: 2px
}

.OrdersNotPickedUp input{
    height: 15px;
    width: 15px;
}

.ViewOrdersSectionTopRow{
    display: flex;
    justify-content: space-between;
    
    line-height: 40px;

}

.ViewOrdersSectionTopRow select{
    height: 40px;
    width: 150px;
    border-radius: 5px;
    
}

.ClearFiltersButton{
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin: 5px;
    width: 150px;
    cursor: pointer;
    background-color: red;
}

.ClearFiltersButton:hover{
    background-color: rgb(185, 2, 2);
}

.ClearFiltersButton:active{
    background-color: rgb(130, 2, 2);
}