.MobileNavigationBar{
    min-width: 100%;
    min-height: 5vh;
    background-color: white;
    display: flex;
    justify-content: space-between;
    
}

.MobileMenuButtonDiv{
    display: flex;
    align-items: center;
}

.MobileMenuButton{
    cursor: pointer;
}

.MobileNavListBox {
    position: fixed;
    width: 30%;
    right: 0;
    height: 95vh;
    background-color: white;
    transition: transform 0.3s ease-in-out;
    z-index: 100;
    padding-left: 10px;
    border-radius: .8em 0 0 .8em ;
}

.MobileNavListBox.Inactive {
    transform: translateX(100%);
}

.MobileNavListBox.Active {
    transform: translateX(0%);
}

.MobileNavListBox ul li {
    position: relative;
    list-style-type: none;
    height: 50px;
    width: 95%;
    margin: 0.8rem auto;
    line-height: 40px;
    border-radius: 0.8rem;
}

.MobileNavListBox ul li span {
    padding-left: 10px;
}

.MobileNavListBox ul li a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
}

.MobileNavListBox ul li a.active{
    font-weight: bold;
    color: green;
}

.MobileNavListBox ul li a box-icon{
    min-width: 30px;
    text-align: center;
    height: 50px;
    border-radius: 12px;
    line-height: 50px;
    pointer-events: none;
}

.MobileTabsContainer{
    padding: 10px;
}