.DashboardHeaderBar{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: white;
    box-shadow: 4px 4px 4px #adb0ac;
    height: 50px;
    line-height: 50px;
    margin: 0.8rem auto;
    border-radius: 0.8rem;
    text-align: center;
}