.InventoryButtonBar{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    background-color: white;
    box-shadow: 4px 4px 4px #adb0ac;
    height: 50px;
    line-height: 50px;
    margin: 0.8rem auto;
    border-radius: 0.8rem;
    text-align: center;
}

.InventoryEditButtons{
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 8px;
    margin: 5px;
    width: 150px;
    background-color: #4f813f;
}

.InventoryEditButtons:hover{
    background-color: #3a5f2e;
}

.InventoryEditButtons:active{
    background-color: #1f3419;
}


.InventoryList{
    max-height: 88vh;
    overflow: auto;
}

.InventoryList li{
    display: flex;
    width: 98%;
    list-style-type: none;
    background-color: white;
    box-shadow: 4px 4px 4px #adb0ac;
    height: 50px;
    line-height: 50px;
    margin: 0.8rem auto;
    border-radius: 0.8rem;
    text-align: center;
} 

span{
    padding-left: 10px;
}

.InventoryList img{
    border-radius: 20px;
    max-width: 40px;
    max-height: 40px;
    margin: 5px;
} 

.InventoryInput{
    height: 30px;
    margin: 10px;
    width: 40px;
    text-align: center;
    
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
