.NewBoothBox{
    background-color: white;
    box-shadow: 4px 4px 4px #adb0ac;
    border-radius: 0.8rem;
    padding: 5px;
    max-height: 88vh;
    overflow: auto;
}

.NewBoothBox input{
    margin-left: 10px;
}

.NewBoothBox label{
    margin-left: 10px;
}

#NewBoothButton{
    height: 40px;
    text-align: center;
    border: none;
    border-radius: 8px;
    width: 100px;
    background-color: #4f813f;
    margin-left: 10px;
}

#NewBoothButton:hover{
    background-color: #3a5f2e;
}

#NewBoothButton:active{
    background-color: #1f3419;
}